# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment configuration files
*.env

# Machine learning model files
*.joblib

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea
.vscode